/***whole page***/

body {
	font-family: 'Open Sans', sans-serif;
}


/***header***/

header {
	background-image: url(../IMG/mainphoto.jpg);
	background-size: cover;
	width: 1300px;
	height: 522px;
	color: #083451;
}

.left-logo {
	float: left;
	margin-left: 140px;
	margin-top: 10px;
}

.logo-text {
	display: inline-block;
	vertical-align: top;
	margin-top: 12px;
	margin-left: 16px;
	font-size: 18px;
	font-weight: 400;
}

.logo {
	background-image: url(../IMG/logo.png);
	height: 45px;
	width: 45px;
	display: inline-block;
	vertical-align: top;
	border-radius: 20px;
}

.header-nav {
	display: inline-block;
	float: right;
	vertical-align: top;
	margin-right: 114px;
	margin-top: 23px;
}

.header-nav li {
	display: inline-block;
	font-size: 18px;
	font-weight: 600;
	padding-left: 20px;
}

.header-nav ul {
	float: left;
}

.search-icon {
	background-image: url(../IMG/search.png);
	background-size: cover;
	height: 28px;
	width: 28px;
	float: right;
	margin-right: 45px;
	margin-top: -6px;
	margin-left: 2px;
}

.big-header-text {
	position: relative;
	left: 115px;
	top: 148px;
	clear: both;
}

.big-header-text h1 {
	color: #fff;
	font-size: 7em;
	font-weight: 600;
}

.big-header-text p {
	font-weight: 600;
	padding-left: 416px;
	font-size: 16.5px;
}


/***main content***/

section {
	width: 1300px;
	margin-top: 80px;
	height: 928px;
}

/**article**/
article {
	height: 928px;
	width: 620px;
	display: inline-block;
	margin-left: 160px;
	vertical-align: top;
	color: #083452;
}

article h2 {
	font-weight: 600;
	font-size: 48px;
	line-height: 1.2;
	padding-left: 3px;
	letter-spacing: 0.025em;
}

.photo, .author-name, .date {
	display: inline-block;
	vertical-align: top;
}

.photo {
	height: 24px;
	width: 24px;
	margin-left: 5px;
	background-image: url(../IMG/HTEmil.jpg);
	margin-top: 14px;
	border-radius: 50%;
	background-size: cover;
}

.author-name {
	font-weight: 600;
	font-size: 14px;
	margin-left: 8px;
	margin-top: 23px;
}

.date {
	margin-top: 23px;
	margin-left: 15px;
	font-size: 14px;
	color: #b0bdc7;
}

.date span {
	text-decoration: underline;
}

.article-content {
	margin-top: 36px;
	line-height: 1.65;
}

.article-content a {
	color: #b0bdc7;
}

.article-content a:hover {
	color: #317ab9;
}

blockquote {
	font-size: 30px;
	font-weight: bold;
	margin-left: 10px;
	border-left: 1px solid #d3d3d3;
	margin-bottom: 3px;
	color: #106bd3;
	line-height: 47px;
}

blockquote p {
	padding-left: 16px;
}

/**interactive icons**/
.interact {
	margin-top: 18px;
}

.comments, .later, .share {
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	height: 30px;
	font-size: 14px;
	font-weight: 600;
	background-color: #a3b3bf;
}

.comment-photo, .read-photo, .share-photo {
	display: inline-block;
	vertical-align: top;
	background-color: #5e686f
}

.comments p, .later p, .share p {
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
	margin-left: 8px;
	color: #fff;
}

.comments {
	width: 160px;
}

.comment-photo {
	background-image: url(../IMG/comments-icon.png);
	height: 30px;
	width: 34px;
}

.read-photo {
	background-image: url(../IMG/read-later-icon.png);
	height: 30px;
	width: 34px;
}

.later {
	margin-left: 10px;
	width: 125px;
}

.share-photo {
	background-image: url(../IMG/share-icon.png);
	height: 30px;
	width: 34px;
}

.share {
	margin-left: 12px;
	width: 154px;
}

a:hover .comment-photo, a:hover .read-photo, a:hover .share-photo {
	background-color: #083452;
}

a:hover .comments, a:hover .later, a:hover .share {
	background-color: #106db3;
}

/**aside**/
aside {
	height: 928px;
	width: 290px;
	margin-left: 75px;
	display: inline-block;
	vertical-align: top;
	color: #a3b3bf;
}

.big-author-photo {
	height: 82px;
	width: 82px;
	background-image: url(../IMG/HTEmil.jpg);
	margin-left: 105px;
	margin-top: 5px;
	border-radius: 50%;
	background-size: cover;
}

.sidebar-author-name {
	text-align: center;
	margin-top: 16px;
	font-size: 14px;
	color: #106db3;
	font-weight: 600;
}

aside ul {
	text-align: center;
	margin-top: 6px;
}

aside li {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
}

aside li:nth-of-type(2) {
	margin-right: 16px;
	margin-left: 19px;
}

.advertisement {
	background-image: url(../IMG/paddle-lady.jpg);
	background-size: cover;
	margin-top: 52px;
	height: 300px;
	width: 280px;
	margin-left: 5px;
}

.ad-caption {
	text-align: right;
	text-decoration: underline;
	margin-top: 9px;
	margin-right: 6px;
	font-size: 14px;
}

.sidebar-content {
	margin-top: 50px;
}

.sidebar-content h4 {
	font-size: 18px;
	margin-left: 7px;
	color: #106db3;
}

.sidebar-content p {
	margin-top: 8px;
	line-height: 1.75;
	font-size: 14px;
	margin-left: 7px
}


/***popular posts***/

.popular-posts {
	width: 1300px;
	height: 147px;
	text-align: center;
	font-size: 64px;
	box-sizing: border-box;
	border-top: 1px solid #e1e7ea;
}

.popular-posts p {
	padding-top: 43px;
	color: #083452;
}

.popular-photos-container {
	width: 1300px;
	height: 330px;
}

.popular-posts-photos {
	width: 325px;
	height: 330px;
	display: inline-block;
	vertical-align: top;
	font-size: 28px;
	line-height: 1.4;
}

.photo1 {
	background-image: url(../IMG/pop-post-1.jpg);
	background-size: cover;
}

.photo2 {
	background-image: url(../IMG/pop-post-2.jpg);
	background-size: cover;	
	color: white;
}

.photo3 {
	background-image: url(../IMG/pop-post-3.jpg);
	background-size: cover;
}

.photo4 {
	background-image: url(../IMG/pop-post-4.jpg);
	background-size: cover;
}



/***footer***/

footer {
	background-color: #083452;
	color: #a3b3bf;
	width: 1300px;
	height: 98px;
}

.tiy-logo {
	background-image: url(../IMG/theironyard.png);
	background-size: cover;
	height: 38px;
	width: 49px;
	display: inline-block;
	vertical-align: top;
	margin-top: 27px;
	margin-left: 164px;
}

footer p {
	display: inline-block;
	vertical-align: top;
	margin-top: 40px;
	margin-left: 10px;
	font-size: 14px;
}

.footer-nav {
	float: right;
	margin-right: 163px;
	box-sizing: border-box;
	margin-top: 41px;
	font-size: 14px;
}

.footer-nav li {
	display: inline-block;
}





