/***global CSS, smallest size***/

/***universal***/
.wrapper {
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
	max-width: 1200px;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}

/***header***/
.logo {
	float: left;
	h2 {
		padding-top: 0.75em;
		padding-bottom: 0.75em;
	}
}

.desktop {
	display: none;
}


/***main page***/
.hero-main {
	background-image: url(../IMG/bouldin-mural-home.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 3em;
	h1 {
		padding-top: 1.5em;
		padding-bottom: 1.5em;
		text-align: center;
		font-size: 2em;
		text-shadow: 2px 2px 18px black, 2px 2px 18px black;
	}
}

.map a {
	text-align: center;
}

.contact a {
	display: block;
}

.index-menu h1, .hours h1, .contact h1, .brief-about h1, .upcoming-events h1 {
	margin-bottom: 0.25em;
}

.map, .hours, .index-menu, .strongman, .contact, .upcoming-events, .brief-about, .coffeebar, .happy-cow, .seating {
	margin-bottom: 3em;
}

.strongman {
	background-image: url(../IMG/bouldin-strongman.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 300px;
}

.coffeebar {
	background-image: url(../IMG/bouldin-coffeebar.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	min-height: 300px;
}

.seating {
	background-image: url(../IMG/bouldin-seating.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	min-height: 300px;
}

.main-content {
	margin-bottom: 4em;
}


/***menu page***/
.hero-menu {
	background-image: url(../IMG/bouldin-mural-menu.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 3em;
	h1 {
		padding-top: 1em;
		padding-bottom: 1em;
		text-align: center;
		font-size: 4em;
		text-shadow: 2px 2px 18px black, 2px 2px 18px black;
	}
}

.menu-nav {
	overflow: hidden;
	margin-bottom: 6em;
}

.menu-left, .menu-right {
	float: left;
	width: 48%;
	text-align: center;
}

.menu-left {
	margin-right: 4%;
}

.breakfast-header {
	text-shadow: 2px 2px 2px white, 5px 2px 3px $yellow, 5px 2px 3px $yellow;
	margin-bottom: 0.5em;
}

.breakfast-description {
	margin-bottom: 3em;
}

.menu-description {
	margin-bottom: 2em;
}

.menu-section {
	margin-bottom: 0.5em;
}

.menu-item {
	margin-bottom: 2em;
}

.last-menu-item {
	margin-bottom: 4em;
}

.item-name, .item-price {
	display: inline-block;
}

.allergies {
	margin-bottom: 2em;
}

.item-price {
	margin-left: 0.5em;
}



/***about page***/
.hero-about {
	background-image: url(../IMG/bouldin-mural-about.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 3em;
	h1 {
		padding-top: 1.5em;
		padding-bottom: 1.5em;
		text-align: center;
		font-size: 2em;
		text-shadow: 2px 2px 18px black, 2px 2px 18px black;
	}
}

.about p {
	margin-bottom: 1em;
	max-width: 700px;
	margin-right: auto;
	margin-left: auto;
}

.about img {
	margin-bottom: 2em;
	margin-top: 2em;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.about .last-item {
	margin-bottom: 4em;
}



/***footer***/
footer {
	overflow: hidden;
}

footer ul {
	width: 80%;
	margin: 0 auto;
}

footer li {
	float: left;
	width: 20%;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-right: 10%;
}