$teal: #0c839e;
$grey: #767b7c;
$brightblue: #0aaed3;
$yellow: #ffc000;
$white: white;

h1, .item-description, {
	color: $teal;
}

p, .allergies {
	color: $grey;	
}

h2, h3 {
	color: $brightblue;
}

.item-price {
	color: $yellow;
}

a {
	color: $white;
}

a:hover {
	color: $yellow;
}

.hero {
	h1 {
		color: white;
	}
}

header, footer {
	background-color: $brightblue;
}

.logo {
	h2 {
		color: white;
	}
}

.menu-left a, .menu-right a, .contact a, .index-menu a, .happy-cow a {
	color: $teal;
}

.menu-left a:hover, .menu-right a:hover, .map h3:hover, .contact a:hover, .index-menu a:hover, .happy-cow a:hover {
	color: lighten($teal, 30%);
}

.hours h1, .index-menu h1, .contact h1, .brief-about h1, .upcoming-events h1, .happy-cow h1 {
	text-shadow: 2px 2px 2px white, 5px 2px 3px $yellow, 5px 2px 3px $yellow;
}