/*! responsive-nav.js 1.0.34 by @viljamis */


.responsive-nav {
  float: right;
  margin-top: 1.2em;
}

.responsive-nav a:hover {
  color: $white;
}

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  }

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: relative;
  display: block;
  overflow: hidden;
  zoom: 1;
  margin-top: 0.1em;
  background-color: $brightblue;
}

.nav-collapse.opened {
  max-height: 300px;
  position: relative;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-align: center;
  border: 2px solid white;
  border-radius: 5px;
  background-color: $yellow;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}