$header-text: #083451;
$header-h1: #fff;
$body-text: #083452;
$body-link-no-hover: #b0bdc7;
$body-link-hover: #317ab9;
$body-date: #b0bdc7;
$blockquote-text: #106db3;
$blockquote-border: #d3d3d3;
$button-img-bg: #5e686f;
$button-img-bg-hover: #083452;
$button-bg: #a3b3bf;
$button-bg-hover: #106db3;
$button-p: #fff;
$aside-social: #a3b3bf;
$aside-text: #a3b3bf;
$aside-name: #106db3;
$aside-section-header: #106db3;
$border: #e1e7ea;
$pop-posts: #083452;
$footer-bg: #083452;
$footer-text: #a3b3bf;